#face
    margin: auto
    background: url('./style/img/adam.png')
    width: 18em
    height: 18em
    margin-top: 4em
    background-size: cover
    background-repeat: no-repeat

.spin
    animation: spin .75s linear

@keyframes spin
    0%
        transform: rotate(0deg)
    50%
        width: 20em
        height: 20em
    100%
        transform: rotate(360deg)
        width: 18em
        height: 18em
