#mobileNavBar {
    padding: 10px;
    text-align: right;
    width: 100%;
    z-index: 5;
    position: absolute;
    border-bottom: 1px solid;
}

.burgerIcon {
    display: inline-block;
    cursor: pointer;
}

#burgerIconBar1, #burgerIconBar2, #burgerIconBar3 {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}
