#archerContainer {
  display: flex;
  justify-content: center;
  margin: 10px; }

.archer {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #FFF; }

.archer:nth-child(4n+1) {
  animation: wave 2s ease .0s infinite; }

.archer:nth-child(4n+2) {
  animation: wave 2s ease .2s infinite; }

.archer:nth-child(4n+3) {
  animation: wave 2s ease .4s infinite; }

.archer:nth-child(4n+4) {
  animation: wave 2s ease .6s infinite;
  margin-right: 0; }

@keyframes wave {
  0% {
    top: 0;
    opacity: 1; }
  50% {
    top: 30px;
    opacity: .2; }
  100% {
    top: 0;
    opacity: 1; } }

#footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }

#footer a {
  margin-right: 20px;
  text-decoration: none;
  color: black; }

#footer a:hover {
  color: #8e8c8c; }

body {
  font-family: "Courier new", courier, monospace; }

#mobileNavBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: right;
  width: 100%;
  z-index: 5;
  position: absolute; }

.mobileNavTitles {
  margin: 8px; }

#mobileAbout, #mobileWork, #mobileRadical {
  margin-right: 10px;
  opacity: 0;
  transition: .3s ease-in-out; }

.openMenu #mobileAbout {
  opacity: 1; }

.openMenu #mobileWork {
  opacity: 1; }

.openMenu #mobileRadical {
  opacity: 1; }

.menuIcon {
  display: inline-block;
  cursor: pointer; }

#menuBar1, #menuBar2, #menuBar3 {
  width: 33px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
  transition: .3s ease-in-out; }

.openMenu #menuBar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px); }

.openMenu #menuBar2 {
  opacity: 0; }

.openMenu #menuBar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
  transform: rotate(45deg) translate(-5px, -7px); }
