#face {
  margin: auto;
  background: url("./style/img/adam.png");
  width: 75vw;
  height: 57vh;
  margin-top: 25px;
  background-size: cover;
  background-repeat: no-repeat; }

.spin {
  animation: spin .75s linear; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  50% {
    width: 80vw;
    height: 62vh; }
  100% {
    transform: rotate(360deg);
    width: 75vw;
    height: 57vh; } }

#footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0; }

#footer a {
  margin-right: 20px;
  text-decoration: none;
  color: black; }

#footer a:hover {
  color: #8e8c8c; }

body {
  font-family: "Courier new", courier, monospace; }

#navBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: right;
  width: 100%; }

.navTitles {
  margin: 8px; }

#about, #work, #radical {
  margin-right: 10px;
  opacity: 0;
  transition: .3s ease-in-out; }

.openMenu #about {
  opacity: 1; }

.openMenu #work {
  opacity: 1; }

.openMenu #radical {
  opacity: 1; }

.menuIcon {
  display: inline-block;
  cursor: pointer; }

#menuBar1, #menuBar2, #menuBar3 {
  width: 33px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
  transition: .3s ease-in-out; }

.openMenu #menuBar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px); }

.openMenu #menuBar2 {
  opacity: 0; }

.openMenu #menuBar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
  transform: rotate(45deg) translate(-5px, -7px); }

.sectionContent {
  display: none;
  margin: 35px; }

.sectionContent a {
  text-decoration: none;
  color: black; }

.sectionContent a:hover {
  color: #8e8c8c; }
